<?xml version="1.0" encoding="utf-8"?>
<packages>
	<appSettings>
		<add key="StartTime" value="08:33 PM "/>
		<add key="callDuration" value="2"/>
		<add key="CallType" value="1"/>
	</appSettings>
  <package id="System.Configuration.ConfigurationManager" version="9.0.0" targetFramework="net472" />
  <package id="log4net" version="2.0.14" targetFramework="net472" />
</packages>
