################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EmailService/bin
/bin
/EmailService/obj
/obj
/EmailService/.vs
